<% include header %>
<p> Forgot your password? </p>
<p> Enter your email address to reset your password. 
You may need to check your spam folder or unblock no-reply@ohviec.com.  </p>

<% if (message) { %>
<p><b><%= message %></b></p>
<% } %>

<form action="/forgot" method="post">
	<div>
	<label>Email:</label>
	<input type="email" name="email"/>
	</div>
  <br>
	<div>
	<input type="submit" value="Submit"/>
	</div>
</form>
<% include footer %>

