<% include header %>

<% if (message) { %>
<p><%= message %></p>
<% } %>

<form action="/login" method="post">
	<div>
	<label>Username:</label>
	<input type="text" name="username"/><br/>
	</div>
	<div>
	<label>Password:</label>
	<input type="password" name="password"/>
	</div>
	<div>
	<input type="submit" value="Submit"/>
	</div>
</form>
<br>
<a href="/forgot">Forgot your password?</a>

<p><small>Hint - bob:secret</small></p>
<% include footer %>
