<% include header %>

<form action="/register" method="post">
	<div>
	<label>Username:</label>
	<input type="text" name="username"/><br/>
	</div>
	<div>
	<label>Tên đầy đủ:</label>
	<input type="text" name="fullname"/><br/>
	</div>
	<div>
	<label>Password:</label>
	<input type="password" name="password"/>
	</div>
	<div>
	<label>Email:</label>
	<input type="email" name="email"/>
	</div>
	<div>
	<input type="submit" value="Submit"/>
	</div>
</form>

<% include footer %>
